.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
}
.container-fluid .container .logo {
    background-image: -webkit-linear-gradient(270deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,238,87,1.00) 0%,rgba(217,132,132,1.00) 100%);
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #F40004;
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #4A15E3;
}
